In [1]:
# Author: Joshua Chemparathy
# Purpose: Analysis of cleansed store sales data
# Date: January 29, 2019
# Last Modified: January 29, 2019

import pandas as pd

In [10]:
df_header = pd.read_csv("sales_header.csv")
print(df_header.dtypes)

print(df_header.head(n=5))

trans_id        int64
trans_date     object
trans_time     object
subtotal      float64
tax_rate       object
tax_amt        object
total         float64
dtype: object
   trans_id trans_date trans_time  subtotal tax_rate tax_amt  total
0   3704187   01/01/17    0:00 am    -30.00     9.25    0.00 -30.00
1   3704188   01/01/17    0:01 am     13.99     9.25    2.29  16.28
2   3704189   01/01/17    0:01 am      9.74     9.25    0.00   9.74
3   3704190   01/01/17    0:03 am      9.29     9.25    1.19  10.48
4   3704191   01/01/17    0:04 am      0.00     9.25    0.00   0.00

In [9]:
#test if pandas can now read these files
df_lines = pd.read_csv("sales_line.csv")
print(df_lines.dtypes) # possibly need to fix the types

print(df_lines.head(n=5))

trans_id           int64
trans_date        object
trans_time        object
sale_id            int64
product_desc      object
product_code      object
product_qty       object
product_price     object
product_tax_id    object
dtype: object
   trans_id trans_date trans_time  sale_id             product_desc  \
0   3704187   01/01/17    0:00 am     3672      lotto/ MISC NON TAX
1   3704187   01/01/17    0:00 am     3687                    lotto
2   3704187   01/01/17    0:00 am     3665  lottMISC NON TAX /LOTTO
3   3704187   01/01/17    0:00 am     3665  lottMISC NON TAX /LOTTO
4   3704188   01/01/17    0:01 am     3975         coors light 18 p

   product_code product_qty product_price product_tax_id
0             3         -70          1.00              N
1            20           1         20.00              N
2            10           1         10.00              N
3            10           1         10.00              N
4  071990300173           1         13.99              5